# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE files
/.idea/
/.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies (Maven or Gradle)
/target/
/build/
